<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('partials/commonhead.ejs') %>
</head>

<body>
  <div class="body-wrapper">
    <%- include ('partials/navbar.ejs') %>
    <main class="pt-5 mx-lg-5">
      <div class="container-fluild mt-5">
        <div class="card mb-4">
          <!--Card content-->
          <div class="card-body d-sm-flex justify-content-between">
            <a href="" data-toggle="modal" data-target="#modalLoginForm" class="btn btn-primary ml-auto" type="submit">
              Add Recipe
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <div class="card-body">
                <!-- Table  -->
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover" id="table-recipes">
                    <!-- <col width="5%" />
                    <col width="5%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="40%" /> -->
                    <!-- Table head -->
                    <thead class="blue-grey lighten-4">
                      <tr>
                        <!-- <th>S#</th> -->
                        <th>Image</th>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Type</th>
                        <th>Fats</th>
                        <th>Fiber</th>
                        <th>Sugar Alcohol</th>
                        <th>Cups of Veggies</th>
                        <th>Carbs</th>
                        <th>Proteins</th>
                        <th>Calories</th>
                        <th>Servings</th>
                        <th>Diet</th>

                        <th>CreatedAt</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <!-- Table head -->
                    <!-- Table body -->
                    <tbody>
                      <% for(var i=0; i< recipes.length; i++) {%>
                      <tr>
                        <!-- <th scope="row"><%= i+1 %></th> -->
                        <td>
                          <img src="/img/recipes/<%= recipes[i].image %>" alt="" style="width: 50px; height: 50px;">
                        </td>
                        <td><%= recipes[i].name %></td>
                        <td><%= recipes[i].unit %></td>
                        <td><%= recipes[i].type %></td>
                        <td><%= recipes[i].fats %></td>
                        <td><%= recipes[i].fiber %></td>
                        <td><%= recipes[i].sugaralcohol %></td>
                        <td><%= recipes[i].cupsofveggies %></td>
                        <td><%= recipes[i].carbs%></td>
                        <td><%= recipes[i].proteins %></td>
                        <td><%= recipes[i].calories%></td>
                        <td><%= recipes[i].servings %></td>
                        <td><%= recipes[i].diet %></td>

                        <td class="createdAt"><%= recipes[i].createdAt %></td>
                        <td class="text-center">
                          <a href="#" article-title="<%= recipes[i].name %>" article-unit="<%= recipes[i].unit %>"
                            article-type="<%= recipes[i].type %>" article-fats="<%= recipes[i].fats%>"
                            article-carbs="<%= recipes[i].carbs%>" article-fiber="<%= recipes[i].fiber %>" article-sugaralcohol="<%= recipes[i].sugaralcohol %>"
                            article-proteins="<%= recipes[i].proteins %>" article-calories="<%= recipes[i].calories %>" article-cupsofveggies="<%= recipes[i].cupsofveggies %>"
                            article-servings="<%= recipes[i].servings %>" article-diet="<%= recipes[i].diet %>"
                            article-id="<%= recipes[i].id %>" article-recipeID="<%= recipes[i].recipeID %>"
                            class="btn btn-green btn-md waves-effect waves-light mr-3 btn-edit" data-toggle="modal"
                            article-image="<%= recipes[i].image %>" data-target="#modalupdateForm"><i
                              class="far fa-edit"></i></a>
                          <a href="/admin/deleterecipe/<%= recipes[i].id %>"
                            class="btn btn-danger btn-md waves-effect waves-light btn-delete"><i
                              class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                    <!-- Table body -->
                  </table>
                </div>
                <!-- Table  -->
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>

        <!-- Central Modal Medium Info -->
        <form action="/admin/addrecipe" method="post" encType="multipart/form-data">
          <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">
                    Add a New Recipe
                  </h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="text" name="name" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="text" name="unit" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Unit</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <select class="mdb-select md-form" name="type" required multiple>
                            <option value="" disabled selected>Choose Recipe Type</option>
                            <option value="AFI">AFI</option>
                            <option value="Bread">Bread</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Lunch">Lunch</option>
                            <option value="OMAD">OMAD</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="fats" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Fats</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="fiber" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Fiber</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="sugaralcohol" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Sugar Alcohol</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="cupsofveggies" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Cups of Veggies</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="carbs" id="form-autocomplete" class="form-control mdb-autocomplete"
                            required />
                          <label for="form-autocomplete" class="">Carbs</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="proteins" id="form-autocomplete"
                            class="form-control mdb-autocomplete" required />
                          <label for="form-autocomplete" class="">Proteins</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="calories" id="form-autocomplete"
                            class="form-control mdb-autocomplete" required />
                          <label for="form-autocomplete" class="">Calories</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="servings" id="form-autocomplete"
                            class="form-control mdb-autocomplete" required />
                          <label for="form-autocomplete" class="">Servings</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <select class="mdb-select md-form" name="diet" required multiple>
                            <option value="" disabled selected>Choose a Diet</option>
                            <option value="Meat">Meat</option>
                            <option value="Pescatarian">Pescatarian</option>
                            <option value="Vegan">Vegan</option>
                            <option value="Vegetarian">Vegetarian</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group my-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image-upload"
                              aria-describedby="inputGroupFileAddon01" name="image" required>
                            <label class="custom-file-label" for="image-upload">Choose file</label>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <form action="/admin/editrecipe" method="post" encType="multipart/form-data">
          <div class="modal fade" id="modalupdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">
                    Update Recipe
                  </h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input hidden type="text" name="id" id="form-autocomplete" class="form-control mdb-autocomplete"
                    required />
                  <div class="container">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="text" name="name" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Name</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="text" name="unit" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Unit</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <select class="mdb-select md-form" name="type" required multiple>
                            <option value="" disabled selected>Choose Recipe Type</option>
                            <option value="AFI">AFI</option>
                            <option value="Bread">Bread</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Lunch">Lunch</option>
                            <option value="OMAD">OMAD</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="fats" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Fats</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="fiber" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Fiber</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="sugaralcohol" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Sugar Alcohol</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="cupsofveggies" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Cups of Veggies</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="carbs" id="form-autocomplete" class="form-control mdb-autocomplete"
                          required />
                          <label for="form-autocomplete" class="">Carbs</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="proteins" id="form-autocomplete"
                          class="form-control mdb-autocomplete" required />
                          <label for="form-autocomplete" class="">Proteins</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <input type="number" name="calories" id="form-autocomplete"
                          class="form-control mdb-autocomplete" required />
                          <label for="form-autocomplete" class="">Calories</label>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-2">
                          <select class="mdb-select md-form" name="diet" required multiple>
                            <option value="" disabled selected>Choose a Diet</option>
                            <option value="Meat">Meat</option>
                            <option value="Pescatarian">Pescatarian</option>
                            <option value="Vegan">Vegan</option>
                            <option value="Vegetarian">Vegetarian</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="md-form mb-5">
                          <input type="number" name="servings" id="form-autocomplete"
                          class="form-control mdb-autocomplete" required />
                          <label for="form-autocomplete" class="">Servings</label>
                        </div>
                      </div>

                      <div class="col-md-6 text-center">
                        <img src="" alt="" class="img-fluid image-upload-edit">
                      </div>

                      <div class="col-md-6">
                        <div class="input-group my-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image-upload-edit"
                              aria-describedby="inputGroupFileAddon01" name="image">>
                            <label class="custom-file-label" for="image-upload-edit">Choose file</label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Central Modal Medium Info-->
      </div>
    </main>
  </div>

  <%- include ('partials/commonscripts.ejs') %>

  <script>
    $(document).ready(function () {
      $('.mdb-select').materialSelect();

      $("td.createdAt").each(function (index, element) {
        var dt = $(element).text();
        var newdt = moment(dt).format("MM-DD-YY HH:mm");
        $(element).text(newdt);
      });

      $('#table-recipes').DataTable({
        "order": [[ 1, "asc" ]]
      });

      $(document).on('click', '.btn-edit', function (e) {
        e.preventDefault();
        var eventId = $(this).attr("article-id");
        var eventrecipeId = $(this).attr("article-recipeID");
        var eventType = $(this).attr("article-type");
        var eventTitle = $(this).attr("article-title");
        var eventFats = $(this).attr("article-fats");
        var eventFiber = $(this).attr("article-fiber");
        var eventSugaralcohol = $(this).attr("article-sugaralcohol");
        var eventCupsofveggies = $(this).attr("article-cupsofveggies");
        var eventCarbs = $(this).attr("article-carbs");
        var eventProteins = $(this).attr("article-proteins");
        var eventServings = $(this).attr("article-servings");
        var eventDiet = $(this).attr("article-diet");
        var eventCalories = $(this).attr("article-calories");
        var eventProteins = $(this).attr("article-proteins");
        var eventUnit = $(this).attr("article-unit");
        var eventImage = $(this).attr("article-image");
        $('#modalupdateForm input[name="id"]').val(eventId);
        $('#modalupdateForm input[name="recipeID"]').val(eventrecipeId);
        $('#modalupdateForm input[name="name"]').val(eventTitle);
        $('#modalupdateForm input[name="unit"]').val(eventUnit);
        $('#modalupdateForm select[name="type"]').val(eventType.split(',')).trigger('change');
        $('#modalupdateForm input[name="fats"]').val(eventFats);
        $('#modalupdateForm input[name="fiber"]').val(eventFiber);
        $('#modalupdateForm input[name="sugaralcohol"]').val(eventSugaralcohol);
        $('#modalupdateForm input[name="cupsofveggies"]').val(eventCupsofveggies);
        $('#modalupdateForm input[name="carbs"]').val(eventCarbs);
        $('#modalupdateForm input[name="proteins"]').val(eventProteins);
        $('#modalupdateForm input[name="servings"]').val(eventServings);
        $('#modalupdateForm select[name="diet"]').val(eventDiet.split(',')).trigger('change');
        $('#modalupdateForm input[name="calories"]').val(eventCalories);
        $('#modalupdateForm img').attr('src', '/img/recipes/' + eventImage);
        $('#modalupdateForm input[name="name"]').focus();
        $('#modalupdateForm input').trigger('change');
      })

      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        var deleteURL = $(this).attr("href");
        swal
          .fire({
            title: "Are you sure?",
            text: "This recipe and all the data inside will be deleted permanently!",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
          })
          .then(function (result) {
            if (result.value) {
              window.location.href = deleteURL;
            }
          });
      });
    });
 
    $('input#image-upload-edit').change(function () {
      readURL(this);
    })
    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('img.image-upload-edit').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</body>

</html>